<div class="alain-default__aside-inner">
<!--  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenu" class="alain-default__aside-user">
    <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="settings.user.avatar"></nz-avatar>
    <div class="alain-default__aside-user-info">
      <strong>{{ settings.user.name }}</strong>
      <p class="mb0">{{ settings.user.email }}</p>
    </div>
  </div>-->

 <!-- <sidebar-app-sidebar-nav [openStrictly]="true"class="d-block py-lg"></sidebar-app-sidebar-nav>-->
  <app-sidebar-self [openStrictly]="true"class="d-block py-lg"></app-sidebar-self>
</div>
