/* You can add global styles to this file, and also import other style files */
.search-form-bch {
  margin-bottom: @layout-gutter * 2;
  padding: @layout-gutter;
  nz-form-item {
    min-width: 380px;
  }
}

.sf-array-item {
  min-width: 50%;
}

.ant-form-item-control {
  min-width: 100px;
}

.sf-array-item {
  .ant-form-item {
    margin-bottom: 10px;
    min-width: 150px;
  }
  .ant-card-body {

  }
}
