<app-page-header></app-page-header>
<nz-card [nzBordered]="false">
  <div class="search__form">
    <sf #sf [schema]="schema" (formSubmit)="submit($event)" [formData]="q" #sf [mode]="'search'">
    </sf>
  </div>
  <button nz-button class="ml-sm" (click)="add()" [acl]="'user:add'">{{'menu.operator.add'|translate}}</button>
  <button nz-button class="ml-sm" (click)="synDingTalk()" [acl]="'user:synDingTalk'">{{'user.synDingTalk'|translate}}</button>
  <button nz-button class="ml-sm" (click)="remove()" [acl]="'user:remove'">{{'menu.operator.delete'|translate}}</button>
  <button nz-button (click)="st.export()">{{'menu.operator.export'|translate}}</button>
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        {{'menu.operator.choose'|translate}}
        <strong class="text-primary">{{selectedRows.length}}</strong> {{'menu.operator.item'|translate}}
      </ng-template>
    </nz-alert>
  </div>
  <st #st [widthMode]="{ type: 'strict' }" (change)="stChange($event)" [data]="listUrl" [req]="request"
      [columns]="columns">

  </st>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'user.role.manager'|translate}}"  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" >
  <nz-card [nzBordered]="false">
  <se-container [col]="1">
    <se label="{{'role.roleName'|translate}}"  required>
      <nz-select [(ngModel)]="roleUuids"  nzShowSearch nzMode="tags">
        <nz-option *ngFor="let option of roles" [nzLabel]="option.roleName" [nzValue]="option.uuid"></nz-option>
      </nz-select>
    </se>
  </se-container>
  </nz-card>
</nz-modal>
